/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

/* Css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hover effects, i tested this in home page and i had to make it for prompts */
.prompt {
  transition: transform 0.7s ease, box-shadow 0.7s ease;
  display: inline-block;
}

.prompt:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Background stuff for body */
body {
  font-family: 'Baloo 2', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  background-image: url(./assests/backround.avif);
}

/* Gallery */
.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Centres all my stuff */

.carousel-button {
  /* Styles gallery buttons */
  font-family: 'Baloo 2', sans-serif;
  font-weight: bold;
  background-color: #F08080;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 70px;
  padding: 0px 30px;
  transition: background-color 0.3s ease;
  /* Everything below here is so that the button is properly centered and not overshadowed by the carsouel slides */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

/* These two parts forces the buttons to apear to the left and right of the carousel slides */
.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* Button hover stuff */
.carousel-button:hover {
  background-color: #d26969;
}

.gallery label {
  /* Stuff for all my gallery text */
  border: 3px solid #d26969;
  color: #ffffff;
  font-size: 25px;
  padding: 10px;
  background-color: #F08080;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  /* Stuff below help center it */
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;

}

/* All three of these blocks help style the slides like so V*/
.slide[data-active] {
  /* Makes sure the active slide is clear and visbile  */
  opacity: 1;
  position: relative;
}


.slide {
  /* Sets all slides to start as hidden, see block above */
  opacity: 0;
  position: absolute;
  inset: 0;
  /* Makes sure images are centered inside the slides */
  border: 3px solid #F08080;
}

.slide img {
  /* Makes sure images are centered inside the slides */
  display: block;
}

/* NAV BAR */
nav {
  /* This defines the backround stuff for the nav bar */
  background-color: rgb(55, 152, 177);
  box-shadow: 0 0 10px 3px #0000009d;
  padding: 10px;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  border-radius: 10px;
  /* Centeres it and removes excess stuff*/
}

.nav-list a {
  /* Styling for links in nav bar*/
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
  margin: 15px;
  padding: 10px;
  transition: background-color 0.7s ease;
  border-radius: 30px;
}

.nav-list a:hover {
  /* Adds hover effect for nav bar */
  background-color: rgba(38, 103, 119, 0.516);
}

/* For drawing page */
section {
  /* Centeres items in the drawing page */
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.canvas-container {
  /* Centres the canvas properly */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* adds border color to canvas */
.canvas {
  border: 3px solid #F08080;
}
.erase-active{
  cursor: url('./assests/cursor_rubber.png') 5 25, auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.draw-active{
  cursor: url('./assests/cursor_pencil.png') 5 25, auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.toolbar {
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section label {
  /* Sets up styles for the prompt in the drawing page */
  color: #ffffff;
  font-size: 25px;
  padding: 10px;
  background-color: #F08080;
  border-radius: 10px;
  border: 3px solid #d26969;

}

/* This stops buttons moving when sliders move */
.slider-container {
  display: inline-block;
  width: 160px;
  vertical-align: middle;
}

section button {
  /* Sets up styling for the buttons, bassicly the same as the ones in gallery */
  font-family: 'Baloo 2', sans-serif;
  font-weight: bold;
  background-color: #F08080;
  border: none;
  color: #ffffff;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid #d26969;
  transition: transform 0.7s ease, box-shadow 0.7s ease;
}

section button:hover {
  /* Button hover stuff */
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Home page stuff */
main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: auto;
}


main p {
  color: #ffffff;
  font-size: 27px;
  padding: 20px;
  margin-top: 20px;
  background-color: #F08080;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  height: fit-content;
  border: 3px solid #d26969;
  transition: transform 0.7s ease, box-shadow 0.7s ease;
}

main img {
  margin-top: 20px;
  height: 400px;
  width: 600px;
  border: 7px solid #d26969;
  transition: transform 0.7s ease-in, box-shadow 0.7s ease-in, border 0.7s ease-in;
}

main p:hover,
main img:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

main img:hover {
  border-color: transparent;
  border-width: 0px;
}

.tutorial{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.tutorial h1 {
  border: 3px solid #d26969;
  display: block;
  text-align: center;
  background-color: #F08080;
  color: white;
  font-size: 70px;
  width: 100%;
  box-sizing: border-box;
}

.tutorial p {
  border: 3px solid #d26969;
  color: #ffffff;
  font-size: 20px;
  padding: 20px;
  margin-top: 20px;
  background-color: #F08080;
  border-radius: 10px;
  text-align: center;
  max-width: 1400px;
  height: fit-content;
  transition: transform 0.7s ease, box-shadow 0.7s ease;
}

.tutorial img{
  border: 7px solid #d26969;
  margin-top: 20px;
  transition: transform 0.7s ease-in, box-shadow 0.7s ease-in, border 0.7s ease-in;
}
.tutorial img:hover{
  border-color: transparent;
  border-width: 0px;
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.tutorial p:hover{
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}