/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Css reset */
*{
    margin: 0;
    padding: 0;
}

/* Backround stuff for body */
body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
  background-image: url(./assests/colorful-line-doodle-seamless-pattern-creative-art-children-design-with-basic-shapes-childish-scribble-shape-vector-illustration-white-background_551826-21479.avif);
}
/* gallery */
.gallery-image{
    border: solid, 2px, black;
}
.gallery-text{
  margin-top: 20px;
  color: #000000;
  font-size: 30px;
  border-radius: 10px;
  background-color: #F08080;
}

/* NAV BAR */
nav {
    background-color: #ffffff;
    box-shadow: 0 0 10px 3px #0000009d;
    padding: 10px;
  }
  
  .nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .nav-list a {
    color: #000000;
    text-decoration: none;
    font-size: 2rem;
    margin: .5rem;
    padding: .5rem;
    text-decoration: none;
  }

  /* For drawing page */
section{
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;

}
  
.canvas-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px; 
}
.canvas {
  border: 2px solid #F08080;
}

section label{
  margin-left: 250px;
  color: #ffffff;
  font-size: 30px;
  padding: 10px;
  background-color: #F08080;
  border-radius: 10px;
  }

section button{
  background-color: #F08080; 
  border: none; 
  color: #ffffff; 
  font-size: 20px; 
  padding: 10px;
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}
section button:hover{
  background-color: #d26969; /* Darker coral on hover */
}
